.text-center {
  text-align: center;
}

.text-out-of-stock {
  font-weight: 600;
  color: red;
}

.text-in-stock {
  font-weight: 600;
  color: forestgreen;
}

.item-left-panel .row {
  margin: 5px 0;
  padding: 5px 0;
}

.item-left-panel .row div {
  text-align: left;
}

.item-label {
  font-weight: 600;
  padding-left: 15px;
}

.welcome-tag span {
  padding: 0 .25em !important;
  display: inline !important;
}

.welcome-tag span a {
  color: whitesmoke;
}

.welcome-tag {
  padding: 15px .5em !important;
  display: block !important;
  color: whitesmoke;
}

.shopping-cart {
  border-bottom: solid 1px;
  border-color: darkgrey;
}

.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 400;
  margin: 0 0.5em;
  padding: 6px 12px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.fade.in {
  opacity: 1;
}

.shopping-cart .thumbnail {
  margin-bottom: 0;
}

.shopping-cart .qty-text {
  display: block;
  margin: 0 0 0 auto;
  width: 4em;
}

.cart-item-description {
  text-align: left;
}

.shopping-cart.list-group-details .list-group-item {
  font-weight: 400;
  padding: 1em;
}

.cart-item-description .row {
  padding-bottom: 1em;
}

.shopping-cart .row {
  margin: 0;
  padding: 0;
}

.shopping-cart .list-group-item.ng-scope {
  padding: 1em;
}

.cart-item-description .row div {
  margin-bottom: 1em;
}

.shopping-cart .cart-item-price {
  text-align: center;
}

.shopping-cart .cart-item-amount {
  text-align: right;
}

.shopping-cart label {
  padding-right: 1em;
}

.shopping-cart .cart-item-description, .shopping-cart .cart-item-price, .shopping-cart .cart-item-qty {
  padding-left: 0;
  padding-right: 0;
}

.shopping-cart .thumbnail {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  max-width: 10em;
  text-align: left;
}

.col-md-2.col-xs-2.cart-item-image {
  padding: 0;
}

#updateProductAlert {
  display: block;
  margin: 0.5em 0 0 auto;
  max-width: 9.5em;
  text-align: center;
}

.checkout-summary .row {
  text-align: right;
}

.checkout-summary .row div:first-child, .checkout-summary .row form {
  margin-bottom: 1em;
}

.limited-size {
  height: 140px;
  width: 100px;
}

.pic-center {
  text-align: center;
  overflow: hidden;
}